`// Week 2: pandas Challenge`
`// Cassie Milicia`

In [27]:
import pandas as pd

`// create a dataframe with 3 rows + 3 columns`

In [28]:
df = pd.DataFrame(
    {
        "Fighter": pd.Categorical(["Ramza", "Locke", "Cloud"]),
        "Mage": pd.Categorical(["Terra", "Lulu", "Rydia"]),
        "Healer": pd.Categorical(["Aerith", "Rosa", "Yuna"])
    }
)
df

  Fighter   Mage  Healer
0   Ramza  Terra  Aerith
1   Locke   Lulu    Rosa
2   Cloud  Rydia    Yuna

`// view the head of the dataframe`

In [29]:
df.head(1)

  Fighter   Mage  Healer
0   Ramza  Terra  Aerith

`// view the index of the dataframe`

In [30]:
df.index

RangeIndex(start=0, stop=3, step=1)

`// view the first column of the dataframe`

In [31]:
df["Fighter"]

0    Ramza
1    Locke
2    Cloud
Name: Fighter, dtype: category
Categories (3, object): ['Cloud', 'Locke', 'Ramza']

`// view the first row of the dataframe`

In [32]:
df[0:1]

  Fighter   Mage  Healer
0   Ramza  Terra  Aerith

`// save dataframe to csv file`

>**Note** - I could not find reference to this task in the course materials (perhaps I just missed it?) so I performed a search and found resources / code examples here:
>https://www.digitalocean.com/community/tutorials/pandas-to_csv-convert-dataframe-to-csv
>
>From my understanding open() is the method used to open the file and it takes 2 parameters - file name and action. What i'm using here is 'w' or 'write' and i'm writing it as a 'csv_file'.  The 'with' portion of this does the enter and exiting of the file so we dont have to.
>
>The second part of this is the to_csv() method - this takes the path name and type of separator (among other things) as parameters.  The main purpose of this function is to stringify the dataframe in a way that will be compatible with a csv file.

In [59]:
with open('Milicia_csvData.txt', 'w') as csv_file:
    df.to_csv(path_or_buf=csv_file, sep='|')

---

### Why are dynamic, interactive data visualizations useful when communicating data?