`// Week 2: pandas Challenge`
`// Cassie Milicia`

In [38]:
import numpy as np

In [39]:
import pandas as pd

In [40]:
import random as r

In [50]:
df = pd.DataFrame(
    {
        "Fighter": pd.Categorical(["Bartz", "Locke", "Cloud"]),
        "Mage": pd.Categorical(["Krile", "Terra", "Aerith"]),
        "Healer": "foo",
    }
)
df

  Fighter    Mage Healer
0   Bartz   Krile    foo
1   Locke   Terra    foo
2   Cloud  Aerith    foo