In [1]:
import pandas as pd
import numpy as np

In [2]:
# python 'None'
vals1 = np.array([1, None, 3, 4])
vals1

array([1, None, 3, 4], dtype=object)

In [3]:
# numPy NaN
vals2 = np.array([1, np.nan, 3, 4])
vals2.dtype

dtype('float64')

In [4]:
# pandas uses both
pd.Series([1, np.nan, 2, None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [5]:
# preserves both NaN and None when it can't tell
data = pd.Series([1, np.nan, 'hello', None])
data

0        1
1      NaN
2    hello
3     None
dtype: object

In [6]:
# returns all the data cells that are null
data[data.isnull()]

1     NaN
3    None
dtype: object

In [7]:
# opposite of isnull
data[data.notnull()]

0        1
2    hello
dtype: object

In [8]:
# change all null values to '-999'
data.fillna('-999')

0        1
1     -999
2    hello
3     -999
dtype: object